
@{
    ViewData["Title"] = "Dependents";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}


@{
    ViewData["Title"] = "Qualification";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="content">
    <div class="card">
        <div class="card-header text-center" data-background-color="orange">
            <h3 class="card-title">
                Emergency Contact
            </h3>
            <h5 class="description">
                On boarding our new employee.
            </h5>
        </div>
        @*<h4 class="card-title"> Employee Jobs</h4>*@

        <div class="row">
            <div class="col-md-12">
                <div class="card ">

                    <div class="card-body ">

                        <!-- Start of the Emergency Contact tabs-->

                        <div class="card-body">




                        </div>
                        <!-- the End of Emergency Contact Tabs-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




