@model  E4S.ViewModel.EmployeeDashboardViewModel

@{
    ViewData["Title"] = "Employee Profile";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}


<div class="content">
    <div class="row">
      <div class=" card-title">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="../../assets/img/bg5.jpg" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  <a asp-action="PersonalDetails">
                    <img class="avatar border-gray" src="/@Model.ImageURL" alt="...">
                    <h5 class="title">@Model.FirstName @Model.LastName</h5>
                  </a>
                  <p class="description">
                    @Model.JobTitle
                  </p>
                </div>
                <p class="description text-center">
                  @Model.Department
                </p>
              </div>
              <hr>
            </div>
          </div>




        </div>


      </div>
    </div>
</div>
