@model  E4S.ViewModel.EmployeeDeashboardViewModel

@{
    ViewData["Title"] = "Employee Profile";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}


<div class="content">
    <div class="row">
      <div class=" card-title">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="../../assets/img/bg5.jpg" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" src="../../assets/img/mike.jpg" alt="...">
                    <h5 class="title">Mike Andrew</h5>
                  </a>
                  <p class="description">
                    michael24
                  </p>
                </div>
                <p class="description text-center">
                  "Lamborghini Mercy
                  <br> Your chick she so thirsty
                  <br> I'm in that two seat Lambo"
                </p>
              </div>
              <hr>
              <div class="button-container">
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                  <i class="fab fa-facebook-square"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                  <i class="fab fa-twitter"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                  <i class="fab fa-google-plus-square"></i>
                </button>
              </div>
            </div>
          </div>


          @*<div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Leaves</h4>
                <p class="category">Most Recent Leave Requests</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th>
                      Leave Request
                    </th>
                    <th>
                      Days
                    </th>
                    <th>
                      Is Approve
                    </th>
                    <th class="text-right">
                      Action
                    </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Examination Leave
                        </td>
                        <td>
                          10
                        </td>
                        <td>
                          <a class="btn btn-sm btn-success">Approved</a>
                        </td>
                        <td class="text-right">
                          <a href="#" class="btn btn-sm btn-info">Profile</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Netherlands
                        </td>
                        <td>
                          Baileux
                        </td>
                        <td class="text-right">
                          $56,142
                        </td>
                        <td class="text-right">
                          <a href="#" class="btn btn-sm btn-info">Profile</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Korea, South
                        </td>
                        <td>
                          Overland Park
                        </td>
                        <td class="text-right">
                          $38,735
                        </td>
                        <td class="text-right">
                          <a href="#" class="btn btn-sm btn-info">Profile</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Malawi
                        </td>
                        <td>
                          Feldkirchen in Kärnten
                        </td>
                        <td class="text-right">
                          $63,542
                        </td>
                        <td class="text-right">
                          <a href="#" class="btn btn-sm btn-info">Profile</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <a href="#" class="pull-right">View more...</a>
                  </div>

                </div>
              </div>
            </div>
          </div>*@

        </div>


      </div>
    </div>
</div>
