@model E4S.ViewModel.HRDashboardViewModel

@{
    ViewData["Title"] = "Dashboard HR";
    Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats card-raised">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons ui-2_chat-round"></i>
                                    </div>
                                    <h3 class="info-title">2/107</h3>
                                    <h6 class="stats-title">VACANCIES/CANDIDATES</h6>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="now-ui-icons business_money-coins"></i>
                                    </div>
                                    <h3 class="info-title">
                                        45
                                    </h3>
                                    <h6 class="stats-title">Today Revenue</h6>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <h3 class="info-title">52</h3>
                                    <h6 class="stats-title">TOTAL EMPLOYEES</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons objects_support-17"></i>
                                    </div>
                                    <h3 class="info-title">3</h3>
                                    <h6 class="stats-title">PENDING LEAVE REQUEST</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Latest Employees</h4>
            <p class="category">5 Most Recent Employee</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Employee
                </th>
                <th>
                  Department
                </th>
                <th>
                  Job Title
                </th>
                <th>
                  Status
                </th>
                <th class="text-right">
                  Action
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Elijah Adewuyi
                    </td>
                    <td>
                      DDAI
                    </td>
                    <td>
                      Dev Ops
                    </td>
                    <td>
                      Active
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  @foreach (var item in Model.LatestEmployeeVMs)
                  {
                    <tr>
                      <td>
                        @item.EmployeeName
                      </td>
                      <td>
                        @item.Department
                      </td>
                      <td>
                        @item.JobTitle
                      </td>
                      <td>
                        @item.IsActive
                      </td>
                      <td class="text-right">
                        <a href="#" class="btn btn-sm btn-info">Profile</a>
                      </td>
                    </tr>

                  }
                  <tr>
                    <td>
                      Deola Akanji
                    </td>
                    <td>
                      DevOps
                    </td>
                    <td>
                      Frontend Developer
                    </td>
                    <td >
                      Active
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Bayo Kolade
                    </td>
                    <td>
                      Business Solutions
                    </td>
                    <td>
                      Functional Consultant                    
                    </td>
                    <td>
                      Active
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Ayo Babajide
                    </td>
                    <td>
                      Cloud Solutions
                    </td>
                    <td>
                      Cloud Architect
                    </td>
                    <td>
                      Active
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Leaves</h4>
            <p class="category">Most Recent Leave Requests</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Employee
                </th>
                <th>
                  Leave Request
                </th>
                <th>
                  Days
                </th>
                <th>
                 Approval Status
                </th>
                <th class="text-right">
                  Action
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Elijah Adewuyi
                    </td>
                    <td>
                      Examination Leave
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      <a class="btn btn-sm btn-info">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Temofe Anene
                    </td>
                    <td>
                      Paternity Leave
                    </td>
                    <td>
                      15
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success">Pending</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Clement Dike
                    </td>
                    <td>
                      Casual Leave
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                      <a class="btn btn-sm btn-info">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Fortunate Nneji
                    </td>
                    <td>
                      Maternity Leave
                    </td>
                    <td>
                      90
                    </td>
                    <td>
                      <a class="btn btn-sm btn-info">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>
          </div>
        </div>
      </div>

      </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"> Top Recent Application</h4>
            @*<p class="category"> Here is a subtitle for this table</p>*@
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Vacancy
                </th>
                <th>
                  Candidate Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Hiring Manager
                </th>
                <th>
                Status                
                </th>
                <th class="text-right">
                  Action
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Senior Developer
                    </td>
                    <td>
                      Elijah Adewuyi
                    </td>
                    <td>
                      june0x@gmail.com
                    </td>
                    <td>
                      Damilare Ibrahim
                    </td>
                    <td>
                      <a class="btn btn-sm btn-info">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Junior Developer
                    </td>
                    <td>
                      Michael Izedunor
                    </td>
                    <td>
                      chubbymike@gmail.com
                    </td>
                    <td>
                      Damilare Ibrahim
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success">Pending</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      UI/UX Developer
                    </td>
                    <td>
                      Bayo Kolade
                    </td>
                    <td>
                      bigB@gmail.com
                    </td>
                    <td>
                      Damilare Ibrahim
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success">Pending</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mobile Developer
                    </td>
                    <td>
                      Funke Ajayi
                    </td>
                    <td>
                      finefunky@gmail.com
                    </td>
                    <td>
                      Damilare Ibrahim
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success">Pending</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mobile/Web Developer
                    </td>
                    <td>
                      Emeka Akumefule
                    </td>
                    <td>
                      Em4Jesus@gmail.com
                    </td>
                    <td>
                      Damilare Ibrahim
                    </td>
                    <td>
                      <a class="btn btn-sm btn-info">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

</div>
