
@{
    ViewData["Title"] = "Dashboard HR";
    Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats card-raised">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons ui-2_chat-round"></i>
                                    </div>
                                    <h3 class="info-title">2/107</h3>
                                    <h6 class="stats-title">VACANCIES/CANDIDATES</h6>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="now-ui-icons business_money-coins"></i>
                                    </div>
                                    <h3 class="info-title">
                                        45
                                    </h3>
                                    <h6 class="stats-title">Today Revenue</h6>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <h3 class="info-title">52</h3>
                                    <h6 class="stats-title">TOTAL EMPLOYEES</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons objects_support-17"></i>
                                    </div>
                                    <h3 class="info-title">3</h3>
                                    <h6 class="stats-title">PENDING LEAVE REQUEST</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Latest Employees</h4>
            <p class="category">5 Most Recent Employee</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Employee
                </th>
                <th>
                  Department
                </th>
                <th>
                  Job Title
                </th>
                <th>
                  IsActive
                </th>
                <th class="text-right">
                  Action
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Elijah Adewuyi
                    </td>
                    <td>
                      DDAI
                    </td>
                    <td>
                      Dev Ops
                    </td>
                    <td>
                      Active
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-right">
                      $23,789
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-right">
                      $56,142
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-right">
                      $38,735
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-right">
                      $63,542
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Leaves</h4>
            <p class="category">Most Recent Leave Requests</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Employee
                </th>
                <th>
                  Leave Request
                </th>
                <th>
                  Days
                </th>
                <th>
                  Is Approve
                </th>
                <th class="text-right">
                  Action
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Elijah Adewuyi
                    </td>
                    <td>
                      Examination Leave
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-right">
                      $23,789
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-right">
                      $56,142
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-right">
                      $38,735
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-right">
                      $63,542
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>
          </div>
        </div>
      </div>

      </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"> Top Recent Application</h4>
            @*<p class="category"> Here is a subtitle for this table</p>*@
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Vacancy
                </th>
                <th>
                  Candidate Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Hiring Manager
                </th>
                <th class="text-right">
                  Action
                </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Elijah Adewuyi
                    </td>
                    <td>
                      Examination Leave
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success">Approved</a>
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-right">
                      $23,789
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-right">
                      $56,142
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-right">
                      $38,735
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-right">
                      $63,542
                    </td>
                    <td class="text-right">
                      <a href="#" class="btn btn-sm btn-info">Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="#" class="pull-right">View more...</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

</div>
