
@{
    ViewData["Title"] = "Update Organization Details";
    Layout = "~/Views/Shared/_LayoutWragbyAdmin.cshtml";
}


    <div class="content">
       

        <div class="col-md-10 mr-auto ml-auto">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card card-wizard" data-color="primary" id="wizardProfile">
                    
                    <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                    <div class="card-header text-center" data-background-color="orange">
                        <h3 class="card-title">
                          

                        </h3>
                        <h5 class="description">Update Organization Information</h5>

                        <input  hidden />
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="about">
                                <h5 class="info-text"> Update organization basic information (with validation)</h5>
                                <div class="row justify-content-center">
                                    <div class="col-sm-4">

                                        <form  method="post">
                                            <h5 class="description">Organisation Logo</h5>

                                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail">
                                                        <img src="../../assets/img/image_placeholder.jpg" id="imageUploadForm" name="image" multiple="multiple" alt="...">
                                                </div>
                                                
                                                <div>
                                                   
                                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-md fileinput-exists">Upload</button>
                                                </div>

                                            </div>

                                        </form>


                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-md-9 col-form-label">Registration No</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text" class="form-control"  placeholder="E.g 123454 (required)">
                                        </div>
                                        <label class="col-md-9 col-form-label">Organisation Name</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text"  placeholder="Wragby Business Solutions (required)" class="form-control" />
                                        </div>
                                        <label class="col-md-9 col-form-label">Phone Number</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text" placeholder="08137422773 (required)" class="form-control"  />
                                        </div>
                                        <label class="col-md-9 col-form-label">Email</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text" placeholder="Eadewuyi@wragbysolutions.com (required)" class="form-control" />
                                        </div>
                                        <label class="col-md-9 col-form-label">Zip Code</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text" placeholder="100242 (required)" class="form-control" />
                                        </div>
                                        <label class="col-md-9 col-form-label">Tax ID</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text" placeholder="F002E (required)"  class="form-control" />
                                        </div>
                                        <label class="col-md-9 col-form-label">Organisation Prefix</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text"  placeholder="WBS (required)"  class="form-control" />
                                        </div>
                                        <label class="col-md-9 col-form-label">Address</label>
                                        <div class="input-group form-control-lg">
                                            <input type="text" placeholder="Last Name (required)"  class="form-control" />
                                        </div>
                                        @*<label>Country</label>
                                        <div class="form-group">
                                            <select id="country" class="form-control" asp-for="Country" required><option value="@null">-- Country --</option></select>
                                        </div>

                                        <label>State</label>
                                        <div class="form-group">
                                            <select id="region" class="form-control" asp-for="State" required><option value="@null">-- State --</option></select>
                                        </div>

                                        <label>City</label>
                                        <div class="form-group">
                                            <select id="city" class="form-control" asp-for="City" required><option value="@null">-- City --</option></select>
                                        </div>*@
                                    <div class="form-group">
                                        <a class="btn btn-fill btn-success" style="color: #fff;">Activate</a>
                                        <a class="btn btn-fill btn-primary" style="color: #fff;">Deactivate</a>

                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*</form>*@
                </div>
            </div>
            <!-- wizard container -->
        </div>
    </div>


<script src="~/assets/js/plugins/bootstrap-switch.js"></script>

