@model  IEnumerable<E4S.Models.Branch>

@{
    ViewData["Title"] = "Branch";
}

<style>
    .body-pad{
        padding: 2%;
    }
</style>

<div class="content">
    <div class="row">
        <!-- Column -->
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card body-pad">
                            <div class="card-header">
                                @*<div class="justify-content-end align-items-center pull-right">*@
                                    <a asp-action="createbranch" asp-controller="Organisation" class="btn btn-info">Create New</a>
                                @*</div>*@
                                <h4 class="card-title">List of Branches</h4>
                            </div>
                            <div class="card-body">
                                <br />
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <div class="table-responsive" style="overflow:auto">
                                            <table id="datatable" class="table table-">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>E-mail</th>
                                                        <th>Phone</th>
                                                        <th>City</th>
                                                        <th class="disabled-sorting text-right">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.BranchName</td>
                                                            <td>@item.Email</td>
                                                            <td>@item.PhoneNo</td>
                                                            <td>@item.City</td>
                                                            <td class="text-right">
                                                                <a class="btn btn-round btn-warning btn-icon btn-sm edit" asp-action="editbranch" asp-controller="Organisation"><i class="far fa-edit"></i></a>
                                                                <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                                                            </td>
                                                        </tr>

                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                               
                            </div>
                            <!-- end content-->
                        </div>
                        <!--  end card  -->
                    </div>
                    <!-- end col-md-12 -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>


