@model E4S.ViewModel.UsersViewModel

@{
  ViewData["Title"] = "AddVacancy";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}




<div class="content">


  <div class="row">
    <!-- Column -->


     
           
             
              @*<div class="d-flex justify-content-end align-items-center">*@
              @*<div class="float-right col-md-offset-10">*@

              @*<div class="row">
                <div class="col-md-11 align-self-end text-right">
                  <div class="d-flex justify-content-end align-items-center">
                    <a asp-action="AddUser" asp-controller="Users" class="btn btn-primary btn-lg">Create New</a>
                  </div>
                </div>
              </div>*@

    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Add New Vacancy</h4>
        </div>
        <div class="card-body ">
          <form class="form-horizontal">
            <div class="row">
              <label class="col-md-3 col-form-label">Job Title</label>
              <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control">
                    <option>Manager</option>
                    <option>Sales</option>
                    <option>Business Analyst</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Hiring Manager</label>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">No. Of Positions</label>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Description</label>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>


            <div class="row">
              <label class="col-md-3 col-form-label"></label>
              <div class="col-md-9">
                <div class="form-group">
                  <button type="submit" class="btn btn-fill btn-primary">Create</button>
                </div>
              </div>
            </div>
          </form>

         

        </div>
      </div>
    </div>




            
             






    </div>
  </div>




