@model E4S.ViewModel.UsersViewModel

@{
  ViewData["Title"] = "AddUser";
}




<div class="content">


  <div class="row">
    <!-- Column -->


     
           
             
              @*<div class="d-flex justify-content-end align-items-center">*@
              @*<div class="float-right col-md-offset-10">*@

              @*<div class="row">
                <div class="col-md-11 align-self-end text-right">
                  <div class="d-flex justify-content-end align-items-center">
                    <a asp-action="AddUser" asp-controller="Users" class="btn btn-primary btn-lg">Create New</a>
                  </div>
                </div>
              </div>*@

              <div class="col-md-6">
                <div class="card ">
                  <div class="card-header ">
                    <h4 class="card-title">Add New User</h4>
                  </div>
                  <div class="card-body ">
                    <form class="form-horizontal">
                      <div class="row">
                        <label class="col-md-3 col-form-label">Username</label>
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="email" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-form-label">Phone Number</label>
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-3 col-form-label">User Role</label>
                        <div class="col-md-9">
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="SuperAdmin">
                              <span class="form-check-sign"></span>
                              SuperAdmin
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Admin">
                              <span class="form-check-sign"></span>
                              Admin
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="HR">
                              <span class="form-check-sign"></span>
                              Human Resources
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="Accountant">
                              <span class="form-check-sign"></span>
                              Accountant
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="CS">
                              <span class="form-check-sign"></span>
                              Customer Service
                            </label>
                          </div>
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="Employee">
                              <span class="form-check-sign"></span>
                              Employee
                            </label>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer ">
                    <div class="row">
                      <label class="col-md-3"></label>
                      <div class="col-md-9">
                        <button type="submit" class="btn btn-fill btn-primary">Create User</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




            
             






    </div>
  </div>




